{
  "openapi": "3.1.0",
  "info": {
    "title": "Suwappu Agent API",
    "description": "Cross-chain DEX API for AI agents. Swap tokens across 7+ chains via structured endpoints.\n\n## Errors\nErrors come in two envelope shapes:\n\n1. **Handler / validation errors** — `{ \"success\": false, \"error\": \"...\", \"message\": \"...\", \"fields\": {...} }`. Returned for validation failures (400), forbidden wallet ownership (403), and not-found resources (404) raised inside route handlers.\n2. **Gateway errors** — `{ \"error\": \"...\", \"requestId\": \"...\", \"timestamp\": \"...\" }`. Returned by the global error handler for auth failures (401), rate limiting (429), and unhandled errors (500).\n\nThe `Error` component schema is permissive and covers both shapes; the per-operation examples show the exact body for that case.\n\n## Rate limits\nAuthenticated endpoints are rate-limited per agent by tier (sliding 60s window): `free` = 30 req/min, `agent` = 100 req/min, `pro` = 500 req/min. Public endpoints are rate-limited per client IP. On 429 the response includes `Retry-After`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers.",
    "version": "0.5.0",
    "contact": {
      "name": "Suwappu",
      "url": "https://suwappu.bot"
    }
  },
  "servers": [
    {
      "url": "https://api.suwappu.bot/v1/agent",
      "description": "Production"
    },
    {
      "url": "https://devapi.suwappu.bot/v1/agent",
      "description": "Development"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/register": {
      "post": {
        "summary": "Register a new agent",
        "operationId": "registerAgent",
        "description": "Create a new agent and receive an API key. Public endpoint, rate-limited to 5 requests/min per client IP.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAgentRequest"
              },
              "example": {
                "name": "my-trading-agent",
                "description": "An agent that swaps ETH for USDC on Base",
                "callback_url": "https://example.com/webhooks/suwappu",
                "metadata": {
                  "team": "alpha"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterAgentResponse"
                },
                "example": {
                  "success": true,
                  "message": "Welcome to Suwappu!",
                  "agent": {
                    "id": "9f8b2c1a-3d4e-5f6a-7b8c-9d0e1f2a3b4c",
                    "name": "my-trading-agent",
                    "api_key": "suwappu_sk_live_4f3a2b1c9d8e7f6a5b4c3d2e1f0a9b8c",
                    "created_at": "2026-06-18T12:00:00.000Z"
                  },
                  "important": "SAVE YOUR API KEY! It cannot be retrieved later.",
                  "docs": "https://api.suwappu.bot/docs"
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON body or validation error (e.g. name too short, name already taken)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Validation error",
                  "fields": {
                    "name": "Name must be at least 3 characters"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedPublic"
          }
        }
      }
    },
    "/chains": {
      "get": {
        "summary": "List supported chains",
        "operationId": "listChains",
        "description": "List all supported chains (EVM, Solana, Sui, TON). Public endpoint, no auth required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Supported chains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "chains": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Chain"
                      }
                    },
                    "note": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "chains": [
                    {
                      "id": 8453,
                      "key": "base",
                      "name": "Base",
                      "native_token": "ETH",
                      "type": "evm"
                    },
                    {
                      "id": "solana",
                      "key": "solana",
                      "name": "Solana",
                      "native_token": "SOL",
                      "type": "solana"
                    }
                  ],
                  "note": "Use chain key (e.g., \"base\", \"solana\") in requests. Solana uses Jupiter, EVM chains use Li.Fi."
                }
              }
            }
          }
        }
      }
    },
    "/openapi": {
      "get": {
        "summary": "Get OpenAPI spec",
        "operationId": "getOpenApiSpec",
        "description": "Returns this OpenAPI 3.1 specification document. Public endpoint.",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 specification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "OpenAPI 3.1 document"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "Get current agent profile",
        "operationId": "getAgentProfile",
        "description": "Get the authenticated agent's profile and usage stats. Rate-limited by tier.",
        "responses": {
          "200": {
            "description": "Agent profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "agent": {
                      "$ref": "#/components/schemas/AgentProfile"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "agent": {
                    "id": "9f8b2c1a-3d4e-5f6a-7b8c-9d0e1f2a3b4c",
                    "name": "my-trading-agent",
                    "description": "An agent that swaps ETH for USDC on Base",
                    "rate_limit_tier": "free",
                    "stats": {
                      "total_requests": 142,
                      "total_swaps": 7
                    },
                    "created_at": "2026-06-18T12:00:00.000Z",
                    "last_active_at": "2026-06-18T15:30:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "summary": "Update agent profile",
        "operationId": "updateAgentProfile",
        "description": "Update the agent's description, callback_url, and/or metadata. At least one field is required. Rate-limited by tier.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              },
              "example": {
                "description": "Updated description",
                "callback_url": "https://example.com/webhooks/suwappu"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated agent profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "agent": {
                      "$ref": "#/components/schemas/AgentProfile"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "agent": {
                    "id": "9f8b2c1a-3d4e-5f6a-7b8c-9d0e1f2a3b4c",
                    "name": "my-trading-agent",
                    "description": "Updated description",
                    "callback_url": "https://example.com/webhooks/suwappu",
                    "rate_limit_tier": "free",
                    "stats": {
                      "total_requests": 142,
                      "total_swaps": 7
                    },
                    "updated_at": "2026-06-18T15:35:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON body or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Validation error",
                  "fields": {
                    "callback_url": "callback_url must not point to a private or metadata endpoint"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "summary": "Permanently delete agent",
        "operationId": "deleteAgent",
        "description": "Permanently delete the authenticated agent. This is irreversible. Rate-limited by tier.",
        "responses": {
          "204": {
            "description": "Agent deleted (no content)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/me/deactivate": {
      "post": {
        "summary": "Deactivate agent",
        "operationId": "deactivateAgent",
        "description": "Deactivate the agent (reversible via /reactivate). Rate-limited by tier.",
        "responses": {
          "200": {
            "description": "Agent deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "Agent deactivated. Use POST /v1/agent/reactivate to restore."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/reactivate": {
      "post": {
        "summary": "Reactivate a deactivated agent",
        "operationId": "reactivateAgent",
        "description": "Reactivate a previously deactivated agent. Accepts auth from inactive agents. Rate-limited by tier.",
        "responses": {
          "200": {
            "description": "Agent reactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "Agent reactivated."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/keys/rotate": {
      "post": {
        "summary": "Rotate API key",
        "operationId": "rotateApiKey",
        "description": "Generate a new API key and invalidate the current one. Save the returned key — it cannot be retrieved later. Rate-limited by tier.",
        "responses": {
          "200": {
            "description": "New API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "api_key": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "api_key": "suwappu_sk_live_a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6",
                  "message": "API key rotated. Save this key — the old key is now invalid."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/quote": {
      "post": {
        "summary": "Get a swap quote",
        "operationId": "getQuote",
        "description": "Get a swap quote (EVM via Li.Fi, Solana via Jupiter). Returns a `quote_id` valid for 60 seconds, usable with POST /swap or POST /swap/execute. Authenticated and rate-limited by tier; may be metered (x402) when metering is enabled.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              },
              "example": {
                "from_token": "ETH",
                "to_token": "USDC",
                "amount": "0.5",
                "chain": "base",
                "wallet_address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                "slippage": 0.03
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Swap quote with quote_id for execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                },
                "example": {
                  "success": true,
                  "quote_id": "lifi_0x8453_4f3a2b1c9d8e",
                  "from_chain": "Base",
                  "from_chain_id": 8453,
                  "to_chain": "Base",
                  "to_chain_id": 8453,
                  "chain_type": "evm",
                  "from_token": {
                    "symbol": "ETH",
                    "address": "0x0000000000000000000000000000000000000000",
                    "decimals": 18
                  },
                  "to_token": {
                    "symbol": "USDC",
                    "address": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "decimals": 6
                  },
                  "amount_in": "0.5",
                  "amount_out": "1623.412000",
                  "amount_out_min": "1574.709640",
                  "exchange_rate": "3246.824000",
                  "price_impact": "0.02%",
                  "estimated_gas_usd": "$0.15",
                  "bridge_fee_usd": "$0",
                  "route": "Uniswap V3",
                  "slippage": "3.0%",
                  "estimated_time_seconds": 30,
                  "expires_in_seconds": 60,
                  "dex": "Li.Fi"
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON body, validation error, unknown chain/token, or Starknet (handled by bot backend)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Validation Error",
                  "message": "Token not found: FOO on Base"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/swap": {
      "post": {
        "summary": "Get unsigned swap transaction",
        "operationId": "getSwapTransaction",
        "description": "Build an unsigned transaction from a cached `quote_id`. The `wallet_address` must be the agent's own managed wallet. Authenticated and rate-limited by tier; may be metered (x402).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapRequest"
              },
              "example": {
                "quote_id": "lifi_0x8453_4f3a2b1c9d8e",
                "wallet_address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned transaction for signing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapTransaction"
                },
                "example": {
                  "success": true,
                  "status": "ready",
                  "message": "Transaction ready for signing",
                  "quote_id": "lifi_0x8453_4f3a2b1c9d8e",
                  "chain_type": "evm",
                  "swap": {
                    "from_chain": 8453,
                    "to_chain": 8453,
                    "from_token": "ETH",
                    "to_token": "USDC",
                    "amount_in": "500000000000000000",
                    "expected_amount_out": "1623412000",
                    "minimum_amount_out": "1574709640"
                  },
                  "transaction": {
                    "to": "0x1231DEB6f5749EF6cE6943a275A1D3E7486F4EaE",
                    "from": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                    "value": "500000000000000000",
                    "data": "0x4630a0d8...",
                    "chain_id": 8453,
                    "gas_limit": "350000"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON body, validation error, missing quote_id, or quote expired/not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Quote expired or not found",
                  "hint": "Request a new quote using POST /v1/agent/quote"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/WalletOwnership"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/swap/simulate": {
      "post": {
        "summary": "Dry-run a swap (Tenderly-style simulation)",
        "operationId": "simulateSwap",
        "description": "Fetch (or reuse a cached `quote_id`) and report whether the swap would succeed, WITHOUT signing, broadcasting, or persisting anything — zero funds move. Runs six independent safety checks (route_available, balance_sufficient, allowance_sufficient, gas_affordable, eth_call_revert_check, slippage_sane); each degrades to a `warn` with `unavailable`/`not applicable` detail rather than failing the whole request when it can't run (e.g. no `wallet_address`, or a Solana quote for the EVM-only allowance/eth_call checks). Authenticated and rate-limited by tier; may be metered (x402) at the same 1-credit rate as /quote.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateSwapRequest"
              },
              "example": {
                "from_token": "ETH",
                "to_token": "USDC",
                "amount": "0.5",
                "chain": "base",
                "wallet_address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                "slippage": 0.03
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulation report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulationReport"
                },
                "example": {
                  "success": true,
                  "would_execute": true,
                  "quote_id": "lifi_0x8453_4f3a2b1c9d8e",
                  "chain_type": "evm",
                  "expected_output": {
                    "token": "USDC",
                    "amount": "1623.412000",
                    "amount_usd": "1623.41"
                  },
                  "min_output_after_slippage": "1574.709640",
                  "price_impact_pct": 0.02,
                  "fees": {
                    "protocol": "$0",
                    "gas_estimate": "$0.15"
                  },
                  "checks": [
                    {
                      "name": "route_available",
                      "status": "pass",
                      "detail": "Route found via Li.Fi for ETH -> USDC on chain 8453"
                    },
                    {
                      "name": "balance_sufficient",
                      "status": "pass",
                      "detail": "Native balance 2000000000000000000 >= required 500000000000000000"
                    },
                    {
                      "name": "allowance_sufficient",
                      "status": "pass",
                      "detail": "Native token — no ERC-20 allowance required"
                    },
                    {
                      "name": "gas_affordable",
                      "status": "pass",
                      "detail": "Native balance covers estimated gas cost + swap amount"
                    },
                    {
                      "name": "eth_call_revert_check",
                      "status": "pass",
                      "detail": "eth_call simulation did not revert"
                    },
                    {
                      "name": "slippage_sane",
                      "status": "pass",
                      "detail": "Price impact 0.02%, min-output deviation 3.00%"
                    }
                  ],
                  "warnings": []
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON body, validation error, unknown chain/token, Starknet (handled by bot backend), or quote expired/not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Validation error",
                  "hint": "Provide quote_id, or from_token + to_token + amount (+ optional chain, wallet_address)."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/swap/execute": {
      "post": {
        "summary": "Execute managed swap via server-side signing",
        "operationId": "executeSwap",
        "description": "Execute a swap from a cached `quote_id` using the agent's managed (Turnkey) wallet. The agent must have created a wallet via POST /wallets first. Authenticated and rate-limited by tier; may be metered (x402). Optionally pass an `Idempotency-Key` header (scoped internally to `agent_{agent_id}_{key}`) so a client-side retry after a timeout is deduped against the same underlying swap instead of re-deriving a key from `quote_id` alone.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[A-Za-z0-9_.:-]{1,64}$"
            },
            "description": "Client-supplied idempotency key, scoped per-agent server-side. When present, takes precedence over the key derived from quote_id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteSwapRequest"
              },
              "example": {
                "quote_id": "lifi_0x8453_4f3a2b1c9d8e"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Swap submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteSwapResponse"
                },
                "example": {
                  "success": true,
                  "swap_id": 4821,
                  "status": "pending",
                  "tx_hash": null,
                  "tracking": {
                    "poll_url": "/v1/agent/swap/status/4821",
                    "webhook_note": "You will receive webhook notifications at your callback_url"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON body, validation error, no managed wallet, quote expired/not found, or internal API not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "No managed wallet found",
                  "hint": "Create a wallet first using POST /v1/agent/wallets"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/swap/status/{swapId}": {
      "get": {
        "summary": "Get swap status",
        "operationId": "getSwapStatus",
        "description": "Get the status of a swap by its numeric id. Only the agent that created the swap can read it. Rate-limited by tier.",
        "parameters": [
          {
            "name": "swapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 4821
          }
        ],
        "responses": {
          "200": {
            "description": "Swap status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapStatus"
                },
                "example": {
                  "success": true,
                  "swap_id": 4821,
                  "status": "completed",
                  "tx_hash": "0x9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f1a0b9c8d7e6f5a4b3c2d1e0f9a8b",
                  "from_chain": "base",
                  "to_chain": "base",
                  "from_token": "ETH",
                  "to_token": "USDC",
                  "from_amount": "500000000000000000",
                  "to_amount": "1623412000",
                  "error_message": null,
                  "created_at": "2026-06-18T15:30:00.000Z",
                  "completed_at": "2026-06-18T15:30:42.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid swap ID (non-numeric)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Invalid swap ID"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Swap not found (or not owned by this agent)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Validation Error",
                  "message": "Swap not found"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/swaps": {
      "get": {
        "summary": "Get swap history",
        "operationId": "listSwaps",
        "description": "Paginated swap history for the authenticated agent, newest first. Rate-limited by tier.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SwapStatusValue"
            },
            "description": "Filter by swap status"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated swap history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "swaps": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SwapStatus"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "swaps": [
                    {
                      "swap_id": 4821,
                      "status": "completed",
                      "tx_hash": "0x9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f1a0b9c8d7e6f5a4b3c2d1e0f9a8b",
                      "from_chain": "base",
                      "to_chain": "base",
                      "from_token": "ETH",
                      "to_token": "USDC",
                      "from_amount": "500000000000000000",
                      "to_amount": "1623412000",
                      "created_at": "2026-06-18T15:30:00.000Z",
                      "completed_at": "2026-06-18T15:30:42.000Z"
                    }
                  ],
                  "pagination": {
                    "total": 7,
                    "limit": 20,
                    "offset": 0,
                    "has_more": false
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/execute": {
      "post": {
        "summary": "Execute natural language command",
        "operationId": "executeCommand",
        "description": "Parse and act on a natural-language command (e.g. \"swap 0.5 ETH to USDC on Base\"). If a `wallet_address` is supplied it must be the agent's own managed wallet. Authenticated and rate-limited by tier; may be metered (x402).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteCommandRequest"
              },
              "example": {
                "command": "swap 0.5 ETH to USDC on base",
                "wallet_address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command result. The `action` field indicates how the command was interpreted (swap, quote, portfolio, or unknown).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteCommandResponse"
                },
                "example": {
                  "success": true,
                  "action": "swap",
                  "status": "quoted",
                  "message": "Quote ready: 0.5 ETH -> 1623.412000 USDC on Base",
                  "quote_id": "lifi_0x8453_4f3a2b1c9d8e",
                  "from_token": "ETH",
                  "to_token": "USDC",
                  "amount_in": "0.5",
                  "amount_out": "1623.412000",
                  "chain": "Base",
                  "chain_id": 8453,
                  "next_step": "Sign and submit the transaction to execute the swap"
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON body, validation error, or unparseable command details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Validation error",
                  "fields": {
                    "command": "command is required"
                  },
                  "hint": "Example: {\"command\": \"swap 0.5 ETH to USDC on Base\", \"wallet_address\": \"0x...\"}"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/WalletOwnership"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/portfolio": {
      "get": {
        "summary": "Get wallet balances",
        "operationId": "getPortfolio",
        "description": "Get live token balances for the agent's managed wallet. `wallet_address` must match the agent's own managed wallet. Authenticated and rate-limited by tier; may be metered (x402).",
        "parameters": [
          {
            "name": "wallet_address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional chain filter (e.g. base, solana). Omit for all chains."
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Portfolio"
                },
                "example": {
                  "success": true,
                  "wallet_address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "wallet_type": "evm",
                  "chain_filter": "all",
                  "total_usd": "2451.33",
                  "balances": [
                    {
                      "symbol": "ETH",
                      "name": "Ethereum",
                      "chain": "base",
                      "balance": "0.25",
                      "usd_value": "811.71"
                    },
                    {
                      "symbol": "USDC",
                      "name": "USD Coin",
                      "chain": "base",
                      "balance": "1639.62",
                      "usd_value": "1639.62"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing required query parameter wallet_address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Missing required query parameter: wallet_address",
                  "hint": "GET /v1/agent/portfolio?wallet_address=0x..."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/WalletOwnership"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/prices": {
      "get": {
        "summary": "Get token prices",
        "operationId": "getTokenPrices",
        "description": "Get USD prices and 24h change for up to 20 token symbols. Authenticated and rate-limited by tier; may be metered (x402).",
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated token symbols (1-20). E.g. ETH,SOL,USDC",
            "example": "ETH,SOL,USDC"
          }
        ],
        "responses": {
          "200": {
            "description": "Token prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prices"
                },
                "example": {
                  "success": true,
                  "prices": {
                    "ETH": {
                      "usd": 3246.82,
                      "change_24h": 1.42
                    },
                    "SOL": {
                      "usd": 152.91,
                      "change_24h": -0.87
                    },
                    "USDC": {
                      "usd": 1,
                      "change_24h": 0.01
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing symbols parameter or more than 20 symbols",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Missing required query parameter: symbols",
                  "hint": "GET /v1/agent/prices?symbols=ETH,SOL,USDC"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/tokens": {
      "get": {
        "summary": "List available tokens",
        "operationId": "listTokens",
        "description": "List common tokens per chain. With no `chain` param, returns tokens grouped by chain. Authenticated and rate-limited by tier; may be metered (x402).",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by chain (e.g. base, solana). Omit for all chains."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by symbol substring (e.g. USD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Token list. When `chain` is provided returns `chain`, `chain_id`, and a flat `tokens` array; when omitted returns a `chains` array each with its own `tokens`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenList"
                },
                "example": {
                  "success": true,
                  "chain": "Base",
                  "chain_id": 8453,
                  "tokens": [
                    {
                      "symbol": "USDC",
                      "address": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "decimals": 6
                    },
                    {
                      "symbol": "WETH",
                      "address": "0x4200000000000000000000000000000000000006",
                      "decimals": 18
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unknown chain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Unknown chain: foo",
                  "supported": [
                    "ethereum",
                    "base",
                    "arbitrum",
                    "solana"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/wallets": {
      "get": {
        "summary": "List agent wallets",
        "operationId": "listWallets",
        "description": "List the agent's managed wallet(s). Returns an empty list if no wallet has been created. Rate-limited by tier.",
        "responses": {
          "200": {
            "description": "Agent wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "wallets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Wallet"
                      }
                    },
                    "hint": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "wallets": [
                    {
                      "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                      "chain_type": "evm",
                      "supported_chains": [
                        "ethereum",
                        "polygon",
                        "arbitrum",
                        "optimism",
                        "base",
                        "bsc",
                        "avalanche"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "summary": "Create agent wallet",
        "operationId": "createWallet",
        "description": "Create a managed (Turnkey) EVM wallet for the agent. Fund it to start swapping. Rate-limited by tier.",
        "responses": {
          "201": {
            "description": "Wallet created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "wallet": {
                      "$ref": "#/components/schemas/Wallet"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "wallet": {
                    "address": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                    "chain_type": "evm",
                    "supported_chains": [
                      "ethereum",
                      "polygon",
                      "arbitrum",
                      "optimism",
                      "base",
                      "bsc"
                    ]
                  },
                  "message": "Wallet created. Fund it to start swapping."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/policy": {
      "post": {
        "summary": "Create wallet policy",
        "operationId": "createWalletPolicy",
        "description": "Create a Turnkey policy (spending limit or address whitelist) on the agent's managed wallet sub-org. Requires a wallet created via POST /wallets. Rate-limited by tier.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePolicyRequest"
              },
              "example": {
                "type": "spending_limit",
                "params": {
                  "maxAmountWei": "1000000000000000000",
                  "timeWindowSeconds": 86400
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "policy": {
                      "$ref": "#/components/schemas/Policy"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "policy": {
                    "policyId": "a1b2c3d4-5678-90ab-cdef-1234567890ab",
                    "type": "spending_limit",
                    "condition": "eth.value <= 1000000000000000000"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or no managed wallet found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "No managed wallet found",
                  "hint": "Create a wallet first"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/policies": {
      "get": {
        "summary": "List wallet policies",
        "operationId": "listWalletPolicies",
        "description": "List the Turnkey policies on the agent's managed wallet sub-org. Requires a wallet created via POST /wallets. Rate-limited by tier.",
        "responses": {
          "200": {
            "description": "Wallet policies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "policies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Policy"
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "policies": [
                    {
                      "policyId": "a1b2c3d4-5678-90ab-cdef-1234567890ab",
                      "policyName": "agent-spending-limit-86400s"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "No managed wallet found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "No managed wallet found",
                  "hint": "Create a wallet first"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet/policy/{policyId}": {
      "delete": {
        "summary": "Delete wallet policy",
        "operationId": "deleteWalletPolicy",
        "description": "Delete an agent-created Turnkey policy. Protected (non-agent) guardrail policies cannot be deleted. Rate-limited by tier.",
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-5678-90ab-cdef-1234567890ab"
          }
        ],
        "responses": {
          "200": {
            "description": "Policy deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "deleted": true
                }
              }
            }
          },
          "400": {
            "description": "No managed wallet, policy not found, or attempt to delete a protected (non-agent) policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Validation Error",
                  "message": "Cannot delete a protected (non-agent) policy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhook events",
        "operationId": "listWebhookEvents",
        "description": "Paginated delivery log of webhook events for the agent, newest first. Rate-limited by tier.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "delivered",
                "failed"
              ]
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated webhook events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEvent"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "events": [
                    {
                      "id": 12,
                      "event_type": "swap.completed",
                      "status": "delivered",
                      "attempts": 1,
                      "last_error": null,
                      "response_status": 200,
                      "callback_url": "https://example.com/webhooks/suwappu",
                      "created_at": "2026-06-18T15:30:42.000Z",
                      "delivered_at": "2026-06-18T15:30:43.000Z"
                    }
                  ],
                  "pagination": {
                    "total": 1,
                    "limit": 20,
                    "offset": 0,
                    "has_more": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error on query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Validation error",
                  "fields": {
                    "limit": "Number must be less than or equal to 100"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/webhooks/test": {
      "post": {
        "summary": "Send test webhook",
        "operationId": "testWebhook",
        "description": "Send a signed test webhook to the agent's configured callback_url. Requires callback_url to be set via PATCH /me. Rate-limited by tier.",
        "responses": {
          "200": {
            "description": "Test result. `success` is false (with HTTP 200) when the callback could not be reached.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "callback_url": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    },
                    "response_time_ms": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "callback_url": "https://example.com/webhooks/suwappu",
                  "status_code": 200,
                  "response_time_ms": 142
                }
              }
            }
          },
          "400": {
            "description": "No callback_url configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "No callback_url configured",
                  "hint": "Set callback_url via PATCH /v1/agent/me first"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/billing": {
      "get": {
        "summary": "Get billing balance and metering info",
        "operationId": "getBilling",
        "description": "Current credit balance, tier, metering status, and cost weights for pay-per-call (x402) metering. Not metered. Rate-limited by tier.",
        "responses": {
          "200": {
            "description": "Billing info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing"
                },
                "example": {
                  "success": true,
                  "agent_id": "9f8b2c1a-3d4e-5f6a-7b8c-9d0e1f2a3b4c",
                  "tier": "free",
                  "metering_enabled": false,
                  "bypass_tiers": [
                    "agent",
                    "pro"
                  ],
                  "is_metered": true,
                  "credits": {
                    "balance": 0,
                    "lifetime_purchased": 0,
                    "lifetime_used": 0
                  },
                  "credit_usd_value": 0.001,
                  "cost_weights": {
                    "quote": 1,
                    "swap": 2,
                    "execute": 5
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/billing/topup": {
      "post": {
        "summary": "Top up credits from on-chain USDC payment",
        "operationId": "topupBilling",
        "description": "Credit the agent's balance from a verified on-chain USDC payment. Idempotent on txHash (no double-credit). Not metered. Rate-limited by tier.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopupRequest"
              },
              "example": {
                "txHash": "0x9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f1a0b9c8d7e6f5a4b3c2d1e0f9a8b",
                "chain": "base",
                "amount": "5"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credits applied (or already processed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopupResponse"
                },
                "example": {
                  "success": true,
                  "already_processed": false,
                  "tx_hash": "0x9a8b7c6d5e4f3a2b1c0d9e8f7a6b5c4d3e2f1a0b9c8d7e6f5a4b3c2d1e0f9a8b",
                  "credits_added": 5000,
                  "balance": 5000,
                  "message": "Credited 5000 credits."
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON body, validation error, non-positive amount, payment not verified, or verification not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Validation Error",
                  "message": "Payment not verified on-chain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/perps/markets": {
      "get": {
        "summary": "List perp markets",
        "operationId": "listPerpMarkets",
        "description": "List supported Hyperliquid perpetual markets with current mark/funding context. maxLeverage is the effective Suwappu quote cap; venueMaxLeverage is the raw venue maximum. Public endpoint, no auth required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Available perp markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PerpMarket"
                      }
                    }
                  }
                },
                "example": {
                  "markets": [
                    {
                      "name": "ETH-USD",
                      "asset": "ETH",
                      "szDecimals": 4,
                      "maxLeverage": 20,
                      "venueMaxLeverage": 25,
                      "markPrice": 3246.8,
                      "fundingRate": 0.000125
                    },
                    {
                      "name": "BTC-USD",
                      "asset": "BTC",
                      "szDecimals": 5,
                      "maxLeverage": 20,
                      "venueMaxLeverage": 40,
                      "markPrice": 67120.5,
                      "fundingRate": -0.00005
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/perps/quote": {
      "post": {
        "summary": "Get a perp position quote",
        "operationId": "getPerpQuote",
        "description": "Estimate entry price, required margin, liquidation price, current market funding, and fees for a Hyperliquid perp position. Uses the live midpoint when available and falls back to mark price; does not open a position. Authenticated and rate-limited by tier.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerpsQuoteRequest"
              },
              "example": {
                "market": "ETH-USD",
                "side": "long",
                "size": 1,
                "leverage": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Perp position quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpQuote"
                },
                "example": {
                  "market": "ETH-USD",
                  "side": "long",
                  "size": 1,
                  "leverage": 5,
                  "entryPrice": 3246.8,
                  "margin": 649.36,
                  "liquidationPrice": 2662.38,
                  "fundingRate": 0.000125,
                  "fee": 0.65
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, unknown market, leverage out of range, or below minimum margin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request",
                  "details": [
                    {
                      "path": [
                        "leverage"
                      ],
                      "message": "Number must be less than or equal to 20"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/perps/positions": {
      "get": {
        "summary": "List open perp positions",
        "operationId": "listPerpPositions",
        "description": "List open Hyperliquid perp positions for an on-chain address (read from the public clearinghouse state). Accepts flexible auth.",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "EVM address to read positions for.",
            "example": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
          }
        ],
        "responses": {
          "200": {
            "description": "Open perp positions (empty array if none)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "positions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PerpPosition"
                      }
                    }
                  }
                },
                "example": {
                  "positions": [
                    {
                      "id": "ETH-0",
                      "market": "ETH-USD",
                      "side": "long",
                      "size": 1.5,
                      "leverage": 5,
                      "entryPrice": 3200,
                      "markPrice": 3246.8,
                      "margin": 960,
                      "unrealizedPnl": 70.2,
                      "liquidationPrice": 2680.5,
                      "fundingRate": 0.000125
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing required query parameter address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "address query parameter required"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/predict/markets": {
      "get": {
        "summary": "List prediction markets",
        "operationId": "listPredictionMarkets",
        "description": "List active Polymarket prediction markets, optionally filtered by a search query. Public endpoint, no auth required.",
        "security": [],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional full-text search over market questions."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Max markets to return (default 20)."
          }
        ],
        "responses": {
          "200": {
            "description": "Active prediction markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PredictionMarket"
                      }
                    }
                  }
                },
                "example": {
                  "markets": [
                    {
                      "id": "0x1234abcd",
                      "question": "Will ETH close above $4000 in 2026?",
                      "outcomes": [
                        "Yes",
                        "No"
                      ],
                      "outcomePrices": [
                        0.62,
                        0.38
                      ],
                      "tokens": [
                        {
                          "tokenId": "71321045...",
                          "outcome": "Yes"
                        },
                        {
                          "tokenId": "52114319...",
                          "outcome": "No"
                        }
                      ],
                      "volume": 1842300.5,
                      "liquidity": 312450,
                      "endDate": "2026-12-31T23:59:59.000Z",
                      "active": true,
                      "category": "Crypto"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/predict/events": {
      "get": {
        "summary": "Browse prediction events",
        "operationId": "listPredictionEvents",
        "description": "Browse or search Polymarket events (groups of related markets). Public endpoint, no auth required.",
        "security": [],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional full-text search over event titles."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prediction events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "markets": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/PredictionMarket"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "events": [
                    {
                      "id": "ev_2026_btc",
                      "title": "Bitcoin price 2026",
                      "description": "Markets on BTC price milestones in 2026.",
                      "markets": []
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/predict/market/{id}": {
      "get": {
        "summary": "Get prediction market detail",
        "operationId": "getPredictionMarket",
        "description": "Get full detail for a single prediction market, including description and resolved outcome (if any). Public endpoint, no auth required.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x1234abcd"
          }
        ],
        "responses": {
          "200": {
            "description": "Prediction market detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredictionMarketDetail"
                },
                "example": {
                  "id": "0x1234abcd",
                  "question": "Will ETH close above $4000 in 2026?",
                  "outcomes": [
                    "Yes",
                    "No"
                  ],
                  "outcomePrices": [
                    0.62,
                    0.38
                  ],
                  "tokens": [
                    {
                      "tokenId": "71321045...",
                      "outcome": "Yes"
                    },
                    {
                      "tokenId": "52114319...",
                      "outcome": "No"
                    }
                  ],
                  "volume": 1842300.5,
                  "liquidity": 312450,
                  "endDate": "2026-12-31T23:59:59.000Z",
                  "active": true,
                  "category": "Crypto",
                  "description": "Resolves YES if the ETH/USD close on Dec 31 2026 is above $4000.",
                  "createdAt": "2026-01-02T00:00:00.000Z",
                  "resolvedOutcome": null
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Market 0x1234abcd not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/predict/market/{id}/book": {
      "get": {
        "summary": "Get prediction market order book",
        "operationId": "getPredictionMarketBook",
        "description": "Get the live CLOB order book (bids/asks) for every outcome of a prediction market. Public endpoint, no auth required.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x1234abcd"
          }
        ],
        "responses": {
          "200": {
            "description": "Order book per outcome",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketId": {
                      "type": "string"
                    },
                    "question": {
                      "type": "string"
                    },
                    "outcomes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderBook"
                      }
                    }
                  }
                },
                "example": {
                  "marketId": "0x1234abcd",
                  "question": "Will ETH close above $4000 in 2026?",
                  "outcomes": [
                    {
                      "outcome": "Yes",
                      "tokenId": "71321045...",
                      "market": "0x1234abcd",
                      "assetId": "71321045...",
                      "bids": [
                        {
                          "price": "0.61",
                          "size": "1200"
                        }
                      ],
                      "asks": [
                        {
                          "price": "0.63",
                          "size": "900"
                        }
                      ],
                      "midpoint": "0.62",
                      "lastTradePrice": "0.62",
                      "tickSize": "0.01"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Market 0x1234abcd not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/predict/market/{id}/price": {
      "get": {
        "summary": "Get prediction market midpoint prices",
        "operationId": "getPredictionMarketPrice",
        "description": "Get live CLOB midpoint prices for each outcome of a prediction market. Public endpoint, no auth required.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x1234abcd"
          }
        ],
        "responses": {
          "200": {
            "description": "Midpoint price per outcome",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketId": {
                      "type": "string"
                    },
                    "question": {
                      "type": "string"
                    },
                    "prices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "outcome": {
                            "type": "string"
                          },
                          "tokenId": {
                            "type": "string"
                          },
                          "mid": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "marketId": "0x1234abcd",
                  "question": "Will ETH close above $4000 in 2026?",
                  "prices": [
                    {
                      "outcome": "Yes",
                      "tokenId": "71321045...",
                      "mid": "0.62"
                    },
                    {
                      "outcome": "No",
                      "tokenId": "52114319...",
                      "mid": "0.38"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Market 0x1234abcd not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/predict/market/{id}/trades": {
      "get": {
        "summary": "Get recent prediction market trades",
        "operationId": "getPredictionMarketTrades",
        "description": "Get recent trades across all outcomes of a prediction market, merged and sorted newest-first. Public endpoint, no auth required.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x1234abcd"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketId": {
                      "type": "string"
                    },
                    "question": {
                      "type": "string"
                    },
                    "trades": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "price": {
                            "type": "string"
                          },
                          "size": {
                            "type": "string"
                          },
                          "side": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "outcome": {
                            "type": "string"
                          },
                          "tokenId": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "marketId": "0x1234abcd",
                  "question": "Will ETH close above $4000 in 2026?",
                  "trades": [
                    {
                      "id": "tr_991",
                      "price": "0.62",
                      "size": "150",
                      "side": "BUY",
                      "timestamp": "1781827200",
                      "outcome": "Yes",
                      "tokenId": "71321045..."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Market 0x1234abcd not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/predict/order": {
      "post": {
        "summary": "Place a prediction market order",
        "operationId": "placePredictionOrder",
        "description": "Place a limit order on the Polymarket CLOB. Requires the agent to have a managed wallet address and Turnkey sub-org configured in its metadata; CLOB API credentials are lazily created (signed via Turnkey) on first use. Authenticated and rate-limited by tier.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderRequest"
              },
              "example": {
                "tokenId": "71321045...",
                "price": "0.62",
                "size": "10",
                "side": "BUY"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order submitted to the CLOB",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/ClobOrder"
                    }
                  }
                },
                "example": {
                  "order": {
                    "id": "0xorder123",
                    "status": "live",
                    "market": "0x1234abcd",
                    "asset_id": "71321045...",
                    "side": "BUY",
                    "original_size": "10",
                    "size_matched": "0",
                    "price": "0.62",
                    "created_at": "2026-06-18T15:30:00.000Z",
                    "expiration": "0",
                    "type": "GTC"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid body, validation error, or the agent has no wallet address / Turnkey sub-org configured for Polymarket trading",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Validation Error",
                  "message": "Agent has no wallet address configured for Polymarket trading"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/predict/order/{id}": {
      "delete": {
        "summary": "Cancel a prediction market order",
        "operationId": "cancelPredictionOrder",
        "description": "Cancel an open Polymarket CLOB order by id. Requires existing CLOB credentials (place an order first to initialize them). Authenticated and rate-limited by tier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xorder123"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancel result from the CLOB",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "canceled": [
                    "0xorder123"
                  ],
                  "not_canceled": {}
                }
              }
            }
          },
          "400": {
            "description": "No Polymarket credentials found (place an order first to initialize)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Validation Error",
                  "message": "No Polymarket credentials found. Place an order first to initialize."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/predict/positions": {
      "get": {
        "summary": "List prediction market positions",
        "operationId": "listPredictionPositions",
        "description": "List the agent's Polymarket positions, enriched with the current midpoint price and unrealized PnL. Requires existing CLOB credentials (place an order first to initialize them). Authenticated and rate-limited by tier.",
        "responses": {
          "200": {
            "description": "Positions with current price and unrealized PnL (empty array if none)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "positions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClobPosition"
                      }
                    }
                  }
                },
                "example": {
                  "positions": [
                    {
                      "asset": "71321045...",
                      "conditionId": "0x1234abcd",
                      "size": "10",
                      "avgPrice": "0.58",
                      "currentPrice": "0.62",
                      "unrealizedPnl": "0.400000"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "No Polymarket credentials found (place an order first to initialize)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Validation Error",
                  "message": "No Polymarket credentials found. Place an order first to initialize."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/predict/orders": {
      "get": {
        "summary": "List prediction market orders",
        "operationId": "listPredictionOrders",
        "description": "List the agent's open/matched Polymarket CLOB orders, optionally filtered by status. Requires existing CLOB credentials (place an order first to initialize them). Authenticated and rate-limited by tier.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional order status filter (e.g. live, matched)."
          }
        ],
        "responses": {
          "200": {
            "description": "Open/matched orders (empty array if none)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClobOrder"
                      }
                    }
                  }
                },
                "example": {
                  "orders": [
                    {
                      "id": "0xorder123",
                      "status": "live",
                      "market": "0x1234abcd",
                      "asset_id": "71321045...",
                      "side": "BUY",
                      "original_size": "10",
                      "size_matched": "0",
                      "price": "0.62",
                      "created_at": "2026-06-18T15:30:00.000Z",
                      "expiration": "0",
                      "type": "GTC"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "No Polymarket credentials found (place an order first to initialize)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Validation Error",
                  "message": "No Polymarket credentials found. Place an order first to initialize."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/predict/archive/info": {
      "get": {
        "summary": "Polymarket historical archive info",
        "operationId": "getPredictionArchiveInfo",
        "description": "Static era registry, license/attribution, and known caveats for the free, donation-funded Polymarket orderbook archive at archive.pendulumflow.com (pmxt/v1, pmxt/v2, third-party/ag6, v3). No network call; no auth required.",
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Archive era registry and metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "baseUrl": "https://archive.pendulumflow.com",
                  "license": "CC BY 4.0",
                  "attribution": {
                    "v3": "Data from the Polymarket historical archive (v3/), credit: pendulumflow (https://archive.pendulumflow.com), CC BY 4.0.",
                    "pmxt": "Data from the Polymarket historical archive (pmxt/), credit: pmxt (https://archive.pmxt.dev), CC BY 4.0."
                  },
                  "donationNote": "archive.pendulumflow.com is a free, donation-funded public archive with no authentication required.",
                  "eras": [
                    {
                      "era": "pmxt/v1",
                      "spanStart": "2026-02-21T18:00:00Z",
                      "spanEnd": "2026-04-16T05:00:00Z"
                    },
                    {
                      "era": "pmxt/v2",
                      "spanStart": "2026-04-13T19:00:00Z",
                      "spanEnd": "2026-08-09T23:00:00Z"
                    },
                    {
                      "era": "third-party/ag6",
                      "spanStart": "2026-08-09T20:00:00Z",
                      "spanEnd": "2026-08-15T09:00:00Z"
                    },
                    {
                      "era": "v3",
                      "spanStart": "2026-08-18T06:00:00Z",
                      "spanEnd": null
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/predict/archive/coverage": {
      "get": {
        "summary": "Archive era coverage sidecar",
        "operationId": "getPredictionArchiveCoverage",
        "description": "Fetch <prefix>COVERAGE.json for a given era (cached ~5 minutes). Live probing shows only v3/ currently publishes this sidecar; pmxt/v1 and pmxt/v2 404. A missing sidecar returns available: false, not an error. Public endpoint, no auth required.",
        "security": [],
        "parameters": [
          {
            "name": "era",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pmxt/v1",
                "pmxt/v2",
                "third-party/ag6",
                "v3"
              ]
            },
            "description": "Archive era to fetch coverage for."
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage sidecar result (available or not)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "era": "v3",
                  "available": true,
                  "url": "https://archive.pendulumflow.com/v3/COVERAGE.json",
                  "data": {}
                }
              }
            }
          },
          "400": {
[...]
